<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nuevo Servicio</title>

	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Latest compiled and minified CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Latest compiled JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Load an icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="../static/css/css.css" th:href="@{/css/css.css}" rel="stylesheet" />

</head>

<body>
	<nav th:replace="~{fragmentos/nav::nav}"></nav>
	<div th:replace="~{fragmentos/header::nav}"></div>
	<!-- Page content -->
	<div class="main">
		<div class="container-fluid bg-light p-4">
			<h1 class="text-center text-danger text-uppercase">Peluqueria Loli</h1>
		</div>
		<section class="container mt-3" id="servicios">
			<h2 class="text-start fs-1 fst-italic shadow p-3 mb-5 bg-body rounded ">Listado de los servicios disponibles
			</h2>
			<div class="contents d-block mt-5">
				<div class="container-fluid">
					<header class="mb-5">
						<h2 class="text-center text-uppercase text-white">Información del nuevo servicio</h2>
					</header>
					<form class="row"
						th:action="${servicios.id != 0} ? @{/admin/editar/submit} : @{/admin/nuevo/submit}"
						th:object="${servicios}" method="post">
						<input th:if="${servicios.id != 0}" type="hidden" name="id" th:field="*{id}" />
						<div class="col-md-6">
							<label for="nombre" class="form-label text-white h5">Nombre</label>
							<input class="form-control" type="text" name="nombre" th:field="*{nombre}"
								placeholder="Corte" />

						</div>
						<div class="col-md-6">
							<label for="descripcion" class="form-label text-white h5">Descripción</label>
							<input class="form-control" type="text" name="descripcion" th:field="*{descripcion}"
								placeholder="Corte con degradado" />
						</div>
						<div class="col-md-6">
							<label for="email" class="form-label text-white h5">Precio</label>
							<input class="form-control" type="number" name="precio" th:field="*{precio}"
								placeholder="0" />

						</div>
						<div class="col-md-6">
							<label for="imagen" class="form-label text-white h5">Imagen</label>
							<input class="form-control" type="text" name="imagen" th:field="*{imagen}"
								placeholder="Url válida de la imagen que se pondrá" />
						</div>
						<div class="col-md-12 text-center mb-1">
							<br>
							<input class="bg-info border-white w-50 mb-2" type="submit" name="enviar" value="Enviar">
							<a th:href="@{/admin/listadoServicios}"><input class="bg-danger border-white w-50"
									type="button" name="cancelar" value="Cancelar"></a>
						</div>
					</form>
				</div>
			</div>
		</section>

	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<th:block th:fragment="javascriptfinal">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</th:block>
</body>

</html>